@model DogGo.Models.ViewModels.WalkerViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Walker Profile</h1>

<div>
   <img class="walker-image" src="@Model.Walker.ImageUrl" alt="avatar" />
   <div>Name: @Model.Walker.Name</div>
   <div>Neighborhood: @Model.Walker.NeighborhoodId</div>
</div>
<section class="col-lg-4 col-md-8 container mt-5">
    <h1>Recent Walks</h1>

    <ul class="list-group mt-4">
        @foreach (Walks walk in Model.Walks)
        {
                <li class="list-group-item disabled" aria-disabled="true">
                    <span class="font-weight-bold ml-4">Date: @walk.Date</span>
                    <span class="font-weight-bold ml-4">Client: @walk.WalkerId</span>
                    <span class="font-weight-bold ml-4">Duration: @walk.Duration minutes</span>
                </li>
                }
        </ul>
</section>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Walker.Id }) |
    <a asp-action="Index">Back to List</a>
</div>